.customers {
  .tables {
    padding: 0 20px;
    .tag {
      width: 50%;
      margin: 0 auto;
      line-height: 28px;
      border: 2px solid;
      border-radius: 20px;
    }
    .yes {
      color: #2594fb !important;
      border-color: #2594fb !important;
    }
    .no {
      color: #e78b35;
      border-color: #e78b35;
    }
  }
}
