.customers {
  .tables{
    padding:0 20px;
    .tag{
      width: 50%;
      margin: 0 auto;
      border: 2px solid ;
      line-height: 28px;
      border-radius: 20px;
    }
    .yes{
      border-color:#2594fb !important;
      color:#2594fb  !important;
    }
    .no{
      border-color:#e78b35;
      color:#e78b35;
    }
  }
}
