.cardbox {
  :global(.ant-card-body) {
    padding: 12px;
  }
}

:global(.ant-tag) {
  border-radius: 5px;
}

.search {
  border-radius: 5px;
  :global(.ant-input-group-addon:last-child) {
    display: none;
  }
}

.link {
  display: inline-block;
  margin-right: 10px;
  color: #273a8a;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}
